body{
	margin: 0;
}
#cover{
	width: 100%;
	height: 100%;
	position: absolute;
}r
#undercover{
	width: 100%;
	height: 100%;
	position: absolute;
}
#contain1{
	background-color: #006666;
	height: 500px;
	width: 500px;
}
#contain2{
	background-color: #660066;
	height: 500px;
	width: 500px;
}
#contain3{
	background-color: #665566;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 500px;
	width: 300px;
}
#section2{
	position: absolute;
}